<div class="container d-flex justify-content-between tamanho">
<div class="card" style="width: 18rem;">
    <img src="../../assets/shopping.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Feijão</h5>
      <p class="card-text">Feijão Kicaldo</p>
        <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
    </div>      
  </div>
  <div class="card" style="width: 18rem;">
      <img src="../../assets/shopping2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Feijão</h5>
        <p class="card-text">Feijão Knorr</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feijão</h5>
          <p class="card-text">Feijão Kicaldo</p>
            <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feijão</h5>
          <p class="card-text">Feijão Namorado</p>
            <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
        </div>
      </div>
</div>
<div class="container d-flex justify-content-between tamanhodois">
  <div class="card" style="width: 18rem;">
      <img src="../../assets/arroz.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arroz</h5>
        <p class="card-text">Arroz Qualitá</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
      </div>      
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/arroz2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arroz</h5>
          <p class="card-text">Arroz Namorado</p>
            <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="../../assets/arroz3.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Arroz</h5>
            <p class="card-text">Arroz Tio João</p>
              <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/arroz4.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Arroz</h5>
            <p class="card-text">Arroz BlueVille</p>
              <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar produto</a>
          </div>
        </div>
  </div>